.start-section__heading {  
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;

  color: #fff;
}

@media all and (max-width: 420px) {
  .start-section__heading {
    margin-bottom: 40px;
  }
}