.popup__close-button {  
  background-image: url(../../../images/Close-Icon.svg);
  background-color: transparent;
  background-size: cover;

  height: 40.7px;
  width: 40.7px;
  border: none;

  position: absolute;
  right: -32px;
  top: -32px;
}

.popup__close-button:hover {
  opacity: .6;
}

@media all and (max-width: 512px) {
  .popup__close-button {
    right: 5px;
    top: 5px;
    filter: invert(100%);
  }
}

