.profile__avatar-section {
  width: 120px;
  height: 120px;

  position: relative;

  border-radius: 50%;
}

.profile__avatar-section:hover .profile__avatar {
  cursor: pointer;
  opacity: .5;
  transition: .2s ease-in;
}

.profile__avatar-section:hover .profile__avatar-button {
  display: block;
}