.popup__container {
  width: 430px;

  box-sizing: border-box;
  padding: 36px;

  background-color: #fff;
  border-radius: 10px;

  position: relative;
}

@media all and (max-width: 475px) {
  .popup__container {
    width: 100%;
    border-radius: 0;    
  }
}